@using BlogApp.Entities
@model LoginModel


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="/Content/Account/images/signin-image.jpg" alt="sing up image"></figure>
                <a href="/Account/Register" class="signup-image-link">Yeni hesap oluştur</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Giriş Yap</h2>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @style = "width:230px;padding-right:10px", @placeholder = "Kullanıcı Adı" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:-30px" })
                            <div class="col-md-10">
                                <input type="password" name="Password" placeholder="Şifre" id="Password" style="width:230px" />
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2", @style = "margin-left:-30px" })
                                @Html.CheckBoxFor(model => model.RememberMe, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="col-md-10">
                                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                                </div>
                            </div>*@



                        <div class="form-group " style="margin-left:15px">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Giriş Yap" style="width:200px" class="btn btn-warning" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</section>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
