@model BlogApp.Entities.BlogModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Article")
         CKEDITOR.replace("Description")
    </script>

}

@using (Html.BeginForm("Create", "AdminBlogModels", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.Url, "Fotoğraf ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })*@
            <input type="file" id="files" name="file" />
        </div>
    </div>

    <script>
        $("#files").fileinput();
    </script>


    <div class="form-group">
        @Html.LabelFor(model => model.Title, "Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Description, "Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Article, "İçerik", htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.TextAreaFor(model => model.Article, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Article, "", new { @class = "text-danger" })

    </div>






    <div class="form-group">
        @Html.LabelFor(model => model.CategoryModelId, "Kategori", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CategoryModelId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryModelId, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group mt-5 ml-0">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success ml-5" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Listeye Dön", "Index")
</div>
